
@charset "UTF-8";

body {
    text-align: center;                     /* 中央に表示    */
    background-image:url("menu_bg.png");    /* 背景画像      */
    background-size: cover;                 /* 画面全体に表示 */
}

#menu {
    bottom: 0px;
    position: fixed;
    text-align: center;
    margin: 0 auto;
}

#menu_list {
    float: both;
}